nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 405px;
  height: 26px;
  color: #fff;
  border-radius: 7px;
  background: linear-gradient(
    to right,
    rgba(153, 153, 153, 0.08),
    rgba(255, 255, 255, 0.13)
  );
  padding: 0px 30px 0px 30px;
}

nav img {
  margin-right: 10px;
}

.coins {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gems {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

.user {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.user button {
  margin-left: 10px;
}

.link {
    color: #fff;
    text-decoration: none;
}

.spacer {margin-left: 5px;}