.face {
  width: 144px;
  height: 215px;
  position: relative;
}

.space10 {
  width: 100%;
  height: 6px;
}

.fotoCont {
  width: 132px;
  height: 172px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  background-position: bottom center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.infoCont {
  height: 19px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}

.flag {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.flag img {
  width: 100%;
  height: 100%;
  display: flex;
}

.powerCont {
  display: flex;
  height: 19px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.powerText {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.energy {
  width: 9px;
  height: 19px;
}

.energy img {
  width: 100%;
  height: 100%;
  display: flex;
}

.name {
  color: #fff;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 18px;
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
  width: 77px;
  height: 14px;
  overflow: hidden;
}

.stars {
  width: 77px;
  height: 10px;
  margin-left: 18px;
}

.shield {
  position: absolute;
  background-size: cover;
  width: 28px;
  height: 34px;
  z-index: 2;
  right: 14px;
  bottom: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/herbus.svg);
}

.shield img {
  margin-bottom: 6px;
}

.buy img {
  width: 10px;
  height: 10px;
  margin-right: 3px;
  margin-bottom: 10px;
}

.buttonText {
  margin-bottom: 11px;
}

.buy {
  width: 144px;
  height: 40px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buyButton {
  width: 91px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный чёрный */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Убедитесь, что меню поверх других элементов */
}

/* Стили для меню */
.menu {
  background-color: rgb(27, 27, 27);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 300px;
  box-sizing: border-box;
}

.sellButton {
  background-color: #000;
  width: 144px;
  height:40px;
  border: none; 
  color: white; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  flex-direction: row; 
  padding: 6px 10px 6px 10px; 
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}

.sellButton img {
  width: 10px;
  height: 10px;
  margin-right: 3px;
  margin-bottom: 10px;
}

.sell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Стили для кнопки меню в всплывашке */
.menuButtonYes {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  width: 80px;
}

.menuButtonNo {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  width: 80px;
}

.menuButtonNo:hover, .menuButtonYes:hover {
  background-color: #1d14cd;
}

.centerMode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin: 40px auto 10px;
}

h3 {
  font-size: 26px;
  text-align: center;
}