body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.backgroundImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  /* height: 100vh; */
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  box-sizing: border-box;
}

.nav {
  margin-top: 68px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.burger {
  margin-right: auto;
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0;
}

.twoColomns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.leftColomn {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  box-sizing: border-box;
}

.rightColomn {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  box-sizing: border-box;
}

.teamCost {
  display: flex;
  flex-direction: row;
  color: #18ffc9;
  font-weight: bold;
  font-size: 24px;
  margin-top: 0;
  align-items: center;
}

.teamCostText {
  line-height: 1;
}

.teamCost img {
  margin: 0 10px 0 24px;
}

.white {
  color: #fff;
}

.players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
  box-sizing: border-box;
  gap: 40px;
}

.playerWrapper {
  /* width: calc(
    300px * 0.5
  ); */
  width: 144px;
  /* height: calc(585px * 0.5); */
  height: 265px;
  overflow: hidden; /* предотвращаем выход за пределы */
}

.player {
  transform-origin: top left;
}

@media (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    padding: 10px 40px;
    max-width: 100%;
  }

  .players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 32px auto;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 0px;
  }

  .nav {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .burger {
    margin-right: auto;
    margin-bottom: 26px;
  }
}

@media (min-width: 768px) and (max-width: 1286px) {
  .wrapper {
    flex-direction: column;
    padding: 10px 40px;
    max-width: 100%;
  }

  .players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 32px auto;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 40px;
  }
}

@media (max-width: 376px) {
  .wrapper {
    flex-direction: column; /* Может остаться таким же, если требуется */
    padding: 10px 30px; /* Добавим отступы */
    max-width: 100%; /* Чтобы максимально использовать ширину экрана смартфона */
  }

  .players {
    gap: 0px;
  }

  .playerWrapper {
    margin-bottom: 30px;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    padding: 10px 40px;
    max-width: 100%;
  }

  .players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 32px auto;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 40px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный чёрный */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Убедитесь, что меню поверх других элементов */
}

/* Стили для меню */
.menu {
  background-color: rgb(27, 27, 27);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 300px;
  box-sizing: border-box;
}

/* Стили для кнопки меню в всплывашке */
.menuButtonYes {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  width: 80px;
}

.menuButtonNo {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  width: 80px;
}

.menuButtonNo:hover, .menuButtonYes:hover {
  background-color: #1d14cd;
}

.centerMode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin: 40px auto 10px;
}
