table td {
    padding: 10px;
}

.resultRow {
    display: flex;
    flex-direction: row;
    width: 100%
}

.highlight {
    font-weight: bold;
  }

  .normal {
    font-weight: normal;
  }

  .procent {
    background-color: bisque;
    height: 12px;
    width: 100%;
  }