html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #1d1a1d;
  overflow-x: hidden;
  color: #fff;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
  margin: 0 auto; /* Центрирование блока */
}

.nav {
  margin-top: 68px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.burger {
  margin-right: auto;
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0;
  line-height: 1.2;
}

h2 {
  color: #18ffc9;
  font-size: 24px;
  font-weight: bold;
}

.burger {
  margin-right: auto;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

.adminText {
  line-height: 16px;
  font-size: 12px;
}

.flexContainer {
  display: flex;
}

.leftColumn {
  flex: 0 0 45%; /* Занимает 45% ширины */
}

.playersMainContainer {
  display: flex;
  flex-direction: column;
}

.rightColumn {
  flex: 0 0 55%;
}

.playersListContainer {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #482832, #fff 50%, #1c3d43) 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.playersListContainerNone {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.playersListElementNone {
  border: 3px solid transparent;
  border-bottom: 0;
  font-size: 16px;
  height: 62px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.playersListElementNone .num {
  padding: 8px 8px 8px 16px;
  color: #a9a9a9;
  flex: 0 0 10%;
}

.playersListElementNone .nickname {
  color: #a9a9a9;
  padding: 8px 16px 8px 8px;
  flex: 0 0 70%;
}

.playersListElementNone .sign {
  padding: 8px 19px 8px 8px;
  display: flex;
}

.uncknownPlayersCount {
  color: #fff;
  font-size: 16px;
  height: 62px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 8px 8px 16px;
}

.rightContainer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: sticky;
  top: 90px;
}

.myteam {
  width: 552px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myteam::before,
.myteam::after {
  content: "";
  position: absolute;
  left: 50%; /* Начало от центра элемента */
  width: 552px;
  height: 2px; /* Толщина границы */
  transform: translateX(-50%); /* Центрирование */
  background: linear-gradient(
    to right,
    transparent 88px,
    rgba(255, 255, 255, 0.5) 50%,
    transparent calc(100% - 88px)
  );
}

.myteam::before {
  top: 0; /* Расположение сверху */
}

.myteam::after {
  bottom: 0; /* Расположение снизу */
}

.myteam h2 {
  color: #18ffc9;
  font-size: 24px;
  font-weight: bold;
}

.rightMT {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 43px;
}

.leftMT {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 34px;
  width: 160px;
  overflow-inline: hidden;
}

.wrapMT {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin-bottom: 60px;
}

.teamListContainer {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 267px;
  box-sizing: border-box;
  height: 294px;
}

.coeffText {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 0;
}

.coeffNum {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  line-height: 0;
  margin-top: 31px;
}

.coeffDesc {
  font-size: 11px;
  font-weight: normal;
  color: #fff;
  line-height: 16px;
  margin-top: 27px;
}

.coeffResult {
  font-size: 11px;
  font-weight: normal;
  color: #fff;
  line-height: 16px;
  margin-bottom: 30px;
}

.closeTeam {
  color: #fff;
  width: 164px;
  height: 59px;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 8px;
}

.closed {
  color: #b9b9b9;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 8px;
  width: 160px;
  height: 55px;
}

.buttonPlacer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 552px;
  margin-top: 30px;
}

.managmentButtons {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.managmentButtons button {
  margin-right: 10px;
  cursor: pointer;
}



@media screen and (max-width: 954px) {
  .flexContainer {
    display: flex;
    flex-direction: column;
  }

  .leftColumn {
    flex: 0 1 auto;
  }

  .rightColumn {
    flex: 0 1 auto;
  }

  .rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    margin-top: 20px;
    transform: scale(0.8);
  }

  .myteam {
    width: 552px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .myteam::before,
  .myteam::after {
    content: "";
    position: absolute;
    left: 50%; /* Начало от центра элемента */
    width: 552px;
    height: 2px; /* Толщина границы */
    transform: translateX(-50%); /* Центрирование */
    background: linear-gradient(
      to right,
      transparent 88px,
      rgba(255, 255, 255, 0.5) 50%,
      transparent calc(100% - 88px)
    );
  }

  .myteam::before {
    top: 0; /* Расположение сверху */
  }

  .myteam::after {
    bottom: 0; /* Расположение снизу */
  }
}

.adminH3 {
  text-align: left;
  font-size: 18px;
}


@media (max-width: 767px) {
  .burger {
    margin-right: auto;
    margin-bottom: 26px;
  }

  .wrapper {
    flex-direction: column;
    padding: 10px 40px;
    max-width: 100%;
  }

  .nav {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .playersListElementNone {
    justify-content: flex-start;
  }

  .playersListElementNone .num {
    padding: 8px 8px 8px 16px;
    color: #a9a9a9;
    flex: initial;
  }

  .playersListElementNone .nickname {
    color: #a9a9a9;
    padding: 8px 16px 8px 8px;
    flex: initial;
  }

  .playersListElementNone .sign {
    padding: 8px 19px 8px 8px;
    flex: initial;
    margin-left: auto;
  }

  .myteam {
    width: 350px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .myteam::before,
  .myteam::after {
    content: "";
    position: absolute;
    left: 50%; /* Начало от центра элемента */
    width: 350px;
    height: 2px; /* Толщина границы */
    transform: translateX(-50%); /* Центрирование */
    background: linear-gradient(
      to right,
      transparent 88px,
      rgba(255, 255, 255, 0.5) 50%,
      transparent calc(100% - 88px)
    );
  }

  .myteam::before {
    top: 0; /* Расположение сверху */
  }

  .myteam::after {
    bottom: 0; /* Расположение снизу */
  }

  .coeffDesc {
    width: 65%;
    text-align: center;
  }

  .coeffResult {
    margin-top: 10px;
  }

  .wrapMT {
    flex-direction: column;
    align-items: flex-start;
  }

  .teamListContainer {
    align-items: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 1286px) {
  .wrapper {
    flex-direction: column;
    padding: 10px 40px;
    max-width: 100%;
  }
}





