html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #1d1a1d;
  overflow-x: hidden;
  color: #fff;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
  margin: 0 auto; /* Центрирование блока */
}

.nav {
  margin-top: 68px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0;
}

h2 {
  color: #18ffc9;
  font-size: 24px;
  font-weight: bold;
}

.burger {
  margin-right: auto;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

.adminText {
  line-height: 16px;
  font-size: 12px;
}

.flexContainer {
  display: flex;
  height: 100vh;
}

.leftColumn {
  flex: 0 0 45%; /* Занимает 45% ширины */
}

.playersMainContainer {
  height: 680px;
  width: 460px;
  overflow-y: auto;
}

.playersMainContainer::-webkit-scrollbar {
    width: 8px;
  }
  
  .playersMainContainer::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #000;
  }
  
  .playersMainContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

.rightColumn {
  flex: 0 0 55%;
}

.playersListContainer {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #482832, #fff 50%, #1c3d43) 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.playersListContainerNone {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.playersListElement {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 16px;
  height: 62px;
  border: 3px solid transparent;
  border-bottom: 0;
  border-image: linear-gradient(to right, #482832, #fff 50%, #1c3d43) 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.playersListElementNone {
  font-size: 16px;
  height: 62px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.playersListElement .num {
  padding: 8px 8px 8px 16px;
  color: #16fcce;
  flex: 0 0 10%;
}

.playersListElementNone .num {
  padding: 8px 8px 8px 16px;
  color: #a9a9a9;
  flex: 0 0 10%;
}

.playersListElement .nickname {
  color: #fff;
  padding: 8px 16px 8px 8px;
  flex: 0 0 70%;
}

.playersListElementNone .nickname {
  color: #a9a9a9;
  padding: 8px 16px 8px 8px;
  flex: 0 0 70%;
}

.playersListElement .sign {
  padding: 8px 16px 8px 8px;
  display: flex;
}

.playersListElementNone .sign {
  padding: 8px 19px 8px 8px;
  display: flex;
}

.uncknownPlayersCount {
  color: #fff;
  font-size: 16px;
  height: 62px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 8px 8px 16px;
}

.rightContainer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.myteam {
  width: 552px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myteam::before,
.myteam::after {
  content: "";
  position: absolute;
  left: 50%; /* Начало от центра элемента */
  width: 552px;
  height: 2px; /* Толщина границы */
  transform: translateX(-50%); /* Центрирование */
  background: linear-gradient(
    to right,
    transparent 88px,
    rgba(255, 255, 255, 0.5) 50%,
    transparent calc(100% - 88px)
  );
}

.myteam::before {
  top: 0; /* Расположение сверху */
}

.myteam::after {
  bottom: 0; /* Расположение снизу */
}

.myteam h2 {
  color: #18ffc9;
  font-size: 24px;
  font-weight: bold;
}

.captain {
  display: flex;
  flex-direction: column;
}

.captainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
}

.captainNum {
  color: #b3b3b3;
  font-size: 24px;
  font-weight: bold;
  line-height: 0;
}

.captainName {
  margin-left: 14px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 0;
}

.captainRole {
  color: #18ffc9;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 23px;
  margin-top: 1px;
}

.captainFotoCont {
  width: 168px;
  height: 260px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 8px black;
}

.captainFotoCont::before,
.captainFotoCont::after {
  content: "";
  position: absolute;
  left: 50%; /* Начало от центра элемента */
  width: 168px; /* Полная ширина элемента */
  height: 2px; /* Толщина границы */
  transform: translateX(-50%); /* Центрирование */
  background: linear-gradient(
    to right,
    transparent 28px,
    rgba(255, 255, 255, 0.5) 50%,
    transparent calc(100% - 28px)
  );
}

.captainFotoCont::before {
  top: 0; /* Расположение сверху */
}

.captainFotoCont::after {
  bottom: 0; /* Расположение снизу */
}

.captainFotoCont img {
  width: 168px;
  height: 260px;
  border-radius: 30px;
}

.rightMT {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 43px;
}

.leftMT {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 34px;
}

.wrapMT {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin-bottom: 40px;
}

.teamListContainer {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 267px;
  box-sizing: border-box;
}
